@media (min-width: 576px) and (max-width: 1213px){
    .ml-sm-search {
        margin-left: 9rem !important;
    }
}
@media (max-width: 575px) {
    .col-sm-search {

    }
    .ml-sm-search {
        margin-left: 8rem !important;
    }
}

.navbar {
    padding: .5rem 1rem 0 1rem;
}
.navbar .navbar-brand {
    color: #000000;
    padding-bottom: 1rem;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #000000;
}
.navbar .navbar-text {
    color: #000000;
}
.navbar .navbar-text a {
    color: #000000;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #000000;
}
.navbar .navbar-nav .nav-link {
    color: #000000;
    border-radius: .25rem .25rem 0 0;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #000000;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #000000;
    background-color: #000000;
}
.navbar .navbar-toggle {
    border-color: #000000;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #000000;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #000000;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #000000;
}
.navbar .navbar-link {
    color: #000000;
}
.navbar .navbar-link:hover {
    color: #000000;
}
.nav-tabs {
    border-bottom: 0;
}
.navbar-toggler {
    margin-bottom: 0.5rem;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #000000;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #000000;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #000000;
        background-color: #000000;
    }
    .navbar .navbar-nav .nav-link {
        color: #000000;
        border-radius: .25rem;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #000000;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #000000;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #000000;
        background-color: #000000;
    }
    .navbar .navbar-nav .nav-link {
        border-radius: .25rem 0;
    }
}

@media (min-width: 768px) and (max-width: 1171px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #000000;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #000000;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #000000;
        background-color: #000000;
    }
    .navbar .navbar-nav .nav-link {
        border-radius: .25rem;
    }
}
@media (min-width: 1214px) and (max-width: 2000px){
    .navbar-expand-xxl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #000000;
    }
    .navbar-expand-xxl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xxl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #000000;
    }
    .navbar-expand-xxl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #000000;
        background-color: #000000;
    }
    .navbar .navbar-nav .nav-link {
        border-radius: .25rem .25rem 0 0;
    }


    .navbar-expand-xxl {
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .navbar-expand-xxl .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .navbar-expand-xxl .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .navbar-expand-xxl .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .navbar-expand-xxl > .container,
    .navbar-expand-xxl > .container-fluid,
    .navbar-expand-xxl > .container-sm,
    .navbar-expand-xxl > .container-md,
    .navbar-expand-xxl > .container-lg,
    .navbar-expand-xxl > .container-xl {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .navbar-expand-xxl .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        flex-basis: auto;
    }
    .navbar-expand-xxl .navbar-toggler {
        display: none;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #000000;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #000000;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #000000;
    background-color: #000000;
}

@media only screen and (min-width: 1213px) {
    .navbar .navbar-nav .nav-link,
    .navbar .navbar-brand{
        padding-bottom: 1rem;
    }
    .navbar .form-inline {
        padding-bottom: 0.5rem;
    }

}
.nav-wrapper{
    color: black;

}

.nav-wrapper li{
    color: black;
}







/-------------------------------------------------/

@font-face {
    font-family: "Bulldogs";
    src: url("../../fonts/aspire-smallcaps/AspireSC-Regular.ttf");
}


